.dialogSmall {
  /* Sizing & Alignment */
  width: 25%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  /* Styling */
  padding: 10px;
  background-color:white;
  word-wrap: break-word;
  
  /* Boarder Formatting */
  border:2px solid black;
  border-radius:10px;
  box-shadow:0px 0px 10px 0px grey;
}
.dialogMedium {
  /* Sizing & Alignment */
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  /* Styling */
  padding: 10px;
  background-color:white;
  word-wrap: break-word;
  
  /* Boarder Formatting */
  border:2px solid black;
  border-radius:10px;
  box-shadow:0px 0px 10px 0px grey;
}
.dialogLarge {
  /* Sizing & Alignment */
  width: 75%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  /* Styling */
  padding: 10px;
  background-color:white;
  word-wrap: break-word;
  
  /* Boarder Formatting */
  border:2px solid black;
  border-radius:10px;
  box-shadow:0px 0px 10px 0px grey;
}

.buttonIcon {
  float: right;
  vertical-align: top;
}
.title {
  word-wrap: break-word;
  min-height: 2rem;
  border-bottom: 1px solid #dedede;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.children {
  text-align: left;
}