input[type='checkbox'] {
    accent-color: var(--color-actionBlue);
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 15px;
  }
  
.label {
    color: var(--color-darkGray);
    vertical-align: middle;
}