.border {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
}

.fontSize {
  font-size: 6pt;
}

.progress {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  padding-right: 6px;
}

.progress::-webkit-progress-value {
  background-color: var(--color-actionBlue);
}

.progress::-webkit-progress-bar {
  background-color: var(--color-lightGray);
}



